body{
    font-family: poppins;
}
.head-container{
position: relative;
font-family: poppins;
text-transform: uppercase;
color: white;
font-weight:bolder;
background-color: rgba(250, 250, 250, 0.1);
z-index: +1;
}
.logo{
    position: absolute;
    left: 100px;
    top: 30px;
}
.logo a{
    font-size: 30px;
    color: white;
}
.navigation{
    /* float: right; */
    color: white;
    position: absolute;
    right: 100px;
    top: 20px;
}
li:hover{
    color: orangered;
    cursor: pointer;
}

em{
    color: orangered;
    font-style: normal;
    font-weight: 900;
}
.first-section{
    position: relative;
    color: white;
}
.video-overlay{
    position: absolute;
    background-color: rgba(35, 45, 57, 0.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#bg-video{
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover
}


.nav-bar ul{
    background-color: blue;
    float: right;
    height: auto;
width: auto;
text-align: center;
vertical-align: middle;
}
.navbar li{
float: left;
display: block;
padding: 10px;
padding-bottom: 30px;
margin-left: 10px;
text-decoration: none;
text-align: center;
}
/* video over lay caption of the first section */
.caption{
    position: absolute;
    top: 25%;
    left: 25%;
    text-align: center;
}
.caption h1{
    font-size: 70px;
}
/* choose program style */
.programs{
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 150px;
    height: 800px;
    margin-bottom: 100px;
}

.choose{
    margin-bottom: 85px;
}

.programs div img{
    margin: 10px;
    color: rgb(56, 48, 48);
}
.services-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    height: 600px;
    padding-left: 5%;
    padding-right: 5%;
}
.serve h2, .serve p{
margin: 7px;
}
p{
    font-size: 16px;
}

.services{
    width: auto;
    height: auto;
    border: 2px solid white;
    display: flex;
    justify-content:left;
    align-items: center;
    position: relative;
    margin-bottom: 35px;
}
.serve{
    text-align:initial;
    position: absolute;
    left: 20%;
}
span:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
}

button{
    background-color: orangered;
    color: white;
    height: 50px;
    width: 180px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.membership{
    background-image: url(cta-bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    height: 400px;
    position: relative;
}
.members{
    color: white;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 15%;
}
.members h1, .members p{
    margin-bottom: 25px;
}

.our-classes{
    text-align: center;
}
.classes{
 margin-bottom: 25px;
}
.training-classes{
    position: relative;
    width: 100%;
    height: 500px;
    margin-bottom: 70px;
}
.training-container{
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: center;
    position: relative;

}
.training-container ul{
    list-style-type: none;
    padding-left: 0%;
    padding-top:0%;
    width: 99.85%;
    height: 70%;
    margin-top: 0%;
}
.ist-training{
    display: block;
    height: 100%;
    width: 65%;
    position: absolute;
    top: 0%;
    right: 0%;
}
.second-training{
    display: none;
    height: 100%;
    width: 65%;
    position: absolute;
    top: 0%;
    right: 0%;
}
.third-training{
    display: none;
    height: 100%;
    width: 65%;
    position: absolute;
    top: 0%;
    right: 0%;
}
.fourth-training{
    display: none;
    height: 100%;
    width: 65%;
    position: absolute;
    top: 0%;
    right: 0%;
}
.training-content img{
    width: 100%;
    height: 60%;
    border-radius: 0.5rem;
}
.trainer-text{
width: 300px;
height: 100px;

}
.trainer-text p{
   font-size: 16px;
    }
.training{
    width: 80%;
    height: 20%;
    margin: 0px 45px 40px ;
    box-shadow:0px 0px 15px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    font-size: 24px;
    position: relative;
}
.training div{
    position: absolute;
    top: 0px;
    font-weight: 600;
    left: 10px;
    width: 100%;
    height: 100%;
    position: relative;
}
.training div p{
    font-size: 22px;
    position: absolute;
    left: 20%;
}
.training div p:active{
    color: orangered
}

.training:hover{
    color: black;
    font-size: 24px;
    transition: 2s;
}
.training div img{
    position: absolute;
    left: 5%;
    top: 20%
    
}
.training-container button{
    position: absolute;
    bottom: 0%;
    left: 9%;
    width: 80%;
    height: 70px;
    font-size: 24px;
}

.classes-schedule{
    background-image:url(schedule-bg\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color:white;
    text-align: center;
    height: 1050px;
}
.classes-schedule h1, .classes-schedule p, .classes-schedule img{
    margin-bottom: 25px;
    /* letter-spacing: 5px; */
}
pre{
    font-size: 20px;
}
.classes-schedule div{
    padding-top: 25px;
}
table{ 
    height: 100%;
}

table, tr {
    border: 1px solid white;
    border-collapse:collapse;
    width: 70%;
}
.table-container{
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 100%;
    height: 60%;
}

td {
    border: 1px solid white;
    border-collapse:collapse;
    width: 200px;
    height: 100px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
    letter-spacing: 2px;
}

.trainers{
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    color: orangered;
}

.train{
    width: 290px;
    height: 450px;
    box-shadow:0px 0px 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 50px;
}
.social{
    letter-spacing: 8px;
    margin-top: 25px;
}

.expert{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.form-container{
    width: 49%;
    height: 100%;
    float: right;
    background-image: url(contact-bg.jpg);
    position: relative;
    border-left: 3px solid white;
}
.map-forms-container{
    width: 100%;
    height: 750px;
}
.map{
    float: left;
    border-right: 3px solid white;
    position: relative;
    width: 49%;
    height: 85%;
    
}

.map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
    
    
.form{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 0.5rem;
}
#forms{
    margin: 10%;
    margin-bottom: 5%;
    width: 97%;
}
.message{
    width: 81.75%;
}
.send{
    margin-left: 10%;
    border: none;
}
input{
    margin-bottom: 30px;
    width: 40%;
    height: 35px;
    border: 1px solid black;
}
input[name=Subject]{
    width: 82%;
}
footer{
    text-align: center;
    margin: 40px;
}